footer {
  display: flex;
  bottom: 0;
  justify-content: center;
  width: 100%;
  padding-bottom: 20px;
}

.links {
  display: flex;
}

.copyright {
  display: flex;
  align-items: center;
}

footer>div>p {
  margin-bottom: 0;
}