---
import "../styles/global.css";
---

<nav class="nav-bar">
  <a class="brand" href="/">~/ENGLISH-CRUSADE</a>
  <div class="extra-links">
    <a href="/blog">Blog</a>
  </div>
</nav>

<style>
  .nav-bar {
    display: flex;
    justify-content: space-between;
  }
  .brand {
    font-size: xx-large;
    color: var(--primary);
    font-style: normal;
    text-decoration: none;
  }
  .extra-links {
    display: flex;
    align-items: center;
    font-size: larger;
  }
</style>
