---
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.tsx";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/assets/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>English Crusade</title>
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
			integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
			crossorigin="anonymous"
		/>
	</head>
	<body>
		<div class="container main-container">
			<Navigation />
			<div class="content-wrap">
				<slot />
			</div>
		</div>
		<Footer />
	</body>
</html>
