---
import Layout from "./Layout.astro";
const { frontmatter } = Astro.props;

// TODOs
// * add title
// * add date
// * potentially change background for code stuff
// * see if there is a better way to highlight the code in
// ----- https://docs.astro.build/en/guides/syntax-highlighting/
---

<Layout pageTitle={frontmatter.title}>
  <h1 class="center-text">{frontmatter.title}</h1>
  <p class="italic-text center-text">{frontmatter.date}</p>
  <slot />
</Layout>
